body {font-family:elephant; background: rgb(225,210,155) url(hnhBg.png) repeat; color: rgb(100,0,50); font-size: 20px}

p {font-size: 20px; padding-left: 50px}

h1 {font-family:algerian; font-size:40px; color:rgb(185, 150, 0); text-align:center; background: black; margin-top: 0px; margin-bottom: 2px}

ul {border:2px solid darkred;list-style-type: square; width: 200px; margin-left: 20%}

a {text-decoration-line: none; color:dimgrey}

button {min-height: 40px; min-width: 40px;background-color:floralwhite; border: 1px solid darkred;font-family: elephant;font-size: 20px;color: dimgray}

input {font-family: elephant; font-size: 20px; color:lightslategrey}

select {font-family: elephant; font-size: 20px; -left: 50%; color:lightslategrey}

form {padding-left: 20%; padding-right: 20%}

span {outline-color: darkred; outline-width: medium; outline-style: solid;}

label {text-align: center; font-size: 20px}

img {max-width: 100% }





.rolldie {font-size: 30px; color: black; text-align: center}

.story {margin-left: 10%; margin-right: 20%; text-align: center}

.hideAnswer {border: none; width: auto; text-align: center; margin-left: 5%; display: none}

ul.results {border: none; width: auto; text-align: center; margin-left: 5%; list-style-type: none}

.playerResults {border: none; width: auto; text-align: left; margin-left: 
    40%; list-style-type: none; }

.statResults {border: none; width: auto; text-align: left; margin-left: 25%; margin-top: 20px; list-style-type: none}

.results {border: none; width: auto; text-align: center; margin-left: 5%; list-style-type: none}

.resultsLeft {border: none; width: auto; text-align: left; margin-left: 5%}

.character {border: none; width: auto; margin-left: 40%}

.footer {
    background-color: black;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    color:rgb(185, 150, 0);
}

.aboutUs {
    border:2px solid darkred;
    width: 80%;
    margin-left: 100px;
    padding: 20px;
}

.die {
    padding-left: 25%;
    justify-content: center;
}
.die2 {
    padding-left: 25%;
    justify-content: center;
}

a:link#easterEgg  {
        color:rgb(185, 150, 0);
    }
a:visited#easterEgg {
        color:rgb(185, 150, 0);
    }
a:hover#easterEgg {
        color:rgb(100,0,50);
    }



a:link#easterEgg2  {
        color:rgb(100,0,50);
    }
a:visited#easterEgg2 {
        color:rgb(100,0,50);
    }
a:hover#easterEgg2 {
        color:rgb(185, 150, 0);        
    }

